* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.img-country {
  display: block;
  height: auto;
  width: 100px;
}
.country-name {
  margin-left: 40px;
}

.value-heading {
  list-style: none;
  font-weight: 700;
  font-size: 20px;
}
.value {
  font-weight: 400;
  margin-left: 10px;
  font-size: 18px;
}
.country__list-item {
  list-style: none;
  margin-bottom: 3px;
}
.img-countries {
  width: 30px;
  margin-right: 10px;
}
